<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/index.js" defer></script>
    <link rel="icon" href="/favicon.png">
    <title>index</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>use this site to get your weaather</p>
     
    <form>
        <input type="text" placeholder="Location">
        <button >Search</button>
    </form>
    <p class="message-1"></p>
    <p class="message-2"></p>

    </div>
     {{>footer}}
</body>
</html>